<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스 설정 -->
<!-- 절대 SQL 구문 끝에 ;(세미콜론)을 넣지 마시오 -->

<!-- itemDB 관련 구문 -->

<mapper namespace="Mapper">

<!-- map에 seq와 qty 를 넣어서 하자. -->
<insert id="UpdateItemquantity" parameterType="map">
update itemDB set qty= qty+#{qty} where id=#{seq}
</insert>

	<insert id="deleteItemBySeq" parameterType="int">
		delete from itemDB where name=#{seq}
	</insert>

	<insert id="Item" parameterType="model.itemVO">
		insert into itemDB values(item_seq.nextval,
		#{name},#{price},#{discount},#{seller_id}, sysdate,#{category_num},#{qty})
	</insert>

	<insert id="ItemUpload" parameterType="model.itemVO">
		insert into itemDB values(item_seq.nextval,
		#{name},#{price},#{discount},#{seller_id}, sysdate,#{category_num},#{qty},#{desc},0)
	</insert>

	<select id="ItemAll" resultType="model.itemVO">
		select * from itemDB
	</select>
	
	
	<!-- 마이페이지 그래프 -->
	<select id="ItemSaleRecordHSearch" resultType="int">
		<![CDATA[select salerecord from (select * from itemDB order by salerecord desc, seq) where rownum <=10 ]]>
	</select>
	
	<select id="ItemSaleRecordHSum" resultType="int">
		<![CDATA[select sum(salerecord) from (select * from itemDB order by salerecord desc, seq) where rownum <=10 ]]>
	</select>
	
	<select id="ItemSaleRecordRSearch" resultType="int">
		<![CDATA[select salerecord from (select * from itemDB where salerecord !=0 order by salerecord, seq) where rownum <=10 ]]>
	</select>
	
	<select id="ItemSaleRecordRSum" resultType="int">
		<![CDATA[select sum(salerecord) from (select * from itemDB order by salerecord, seq) where rownum <=10 ]]>
	</select>




	<select id="selectName" parameterType="int" resultType="string">
		SELECT ITEMNAME FROM itemDB WHERE SEQ = #{seq}
	</select>

	<select id="selectByPrice" resultType="model.itemVO">
		select * from itemDB order by price
	</select>
	
	<select id="itemNextval" resultType="int">
		SELECT  LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'ITEM_SEQ'
	</select>
	
	<select id="ItemNameBySeq" parameterType="int" resultType="string">
		SELECT name FROM itemDB WHERE seq = #{seq}
	</select>
	
	<select id="ItemOrderByPrice" resultType="model.itemVO">
		select * from itemDB order by price
	</select>


	<select id="searchItemsBySellerId" parameterType="String" resultType="model.itemVO">
		select * from itemDB where seller_id like '%'||#{seller_id}||'%'
	</select>
	
	<select id="searchItemByItemName" parameterType="String" resultType="model.itemVO">
		select * from itemDB where itemname like '%'||#{itemname}||'%'
	</select>
	
	<select id="searchItemsByNameOrSellerId" parameterType="String" resultType="model.itemVO">
		select * from itemDB where itemname like '%'||#{itemname}||'%' or seller_id like '%'||#{seller_id}||'%'
	</select>	
	
	<select id="sortBySalesRecord" resultType="model.itemVO">
		select * from itemDB order by salerecord desc
	</select>
<!--  soldItemDB 관련 구문 -->

<!--  cartItemDB 관련 구문 -->
<insert id="cartItem" parameterType="model.cartItemVO">
insert into cartItemDB values(#{item_seq}, #{buyer_id},#{quantity})
</insert>

<select id="cartListById" parameterType="String" resultType="model.cartItemVO">
select * from cartItemDB where buyer_id=#{buyer_id}
</select>

<!--  buyerDB 관련 구문 -->

<insert id="signUpBuyer" parameterType="model.buyerVO">
	insert into buyerDB values(buyer_seq.nextval, #{buyerId}, #{buyerPw} ,#{buyerName})
</insert>


<select id="loginBuyer" parameterType="model.buyerVO" resultType="model.buyerVO">
	select #{buyerId} from buyerDB where buyer_pw = #{buyerPw}
</select>

<insert id="1" parameterType="model.buyerVO">
insert into buyerDB values{3개}
</insert>

	
<select id="loginCheckID" parameterType="String" resultType="String">
	select buyer_id from buyerDB where buyer_id = #{buyer_id}
</select>

<select id="loginCheckPw" parameterType="String" resultType="String">
	select buyer_pw from buyerDB where buyer_id = #{buyer_id}
</select>

<!--  sellerDB 관련 구문 -->

<!-- MessageDB 관련구문  -->
<insert id="WriteMessage" parameterType="model.messageVO">
	insert into guestbook_message values(seq_guestbook_message, #{guest_name}, #{password}), #{message})
</insert>
<select id="selectByMessageId" parameterType="int" resultType="String">
	select * from guestbook_message where message_id=?
</select>


<!-- 익명게시판 관련 구문  -->
<!-- <select id="insertMessage" parameterType="model.MessageVO">
	insert into guestbook_message values(seq_guestbook_message.nextval, #{bookPassword},#{bookPwd},#{bookMessage})
</select>

<select id="selectMessage" resultType="model.MessageVO">
select from guestbook_message where bookId=#{bookId}
</select>

<select id="selectCount" parameterType="Integer">
select count(*) from guestbook_message
</select>

<select id="selectList" parameterType="Integer">
select count(*) from guestbook_message
</select>
 -->

</mapper>