body {
	
font-family: "Lato", sans-serif;  
margin: 0;
  
}
#wrapper {
	display: flex;
	flex-direction:row;
	width:1400px;
	margin: 0 auto;
	height: 200px;
	border-bottom: 3px solid lightgray;
	
}

#left-slide-container {
  position: absolute;
  background: white;
  height: 100%;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
}

#left-slide-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: black;
  line-height: 100px;
  height: 100px;
}

#left-slide-container h1 {
  margin: 0;
}

#left-slide-container a:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}
.close-btn-box {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
}

.slide-close-btn {
  height: 30px;
  width: 30px;
}

.slide-close-btn:hover {
  cursor: pointer;
}

.header-container {

	width: 1280px;
	margin: 0 auto;
  height: 200px;
}

.upper-header-white {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.header-left-box {
	margin-left: 25px;
  display: flex;
}

.left-slide-btn {
  height: 40px;
  margin-top: 30px;
}

.left-slide-btn:hover {
  cursor: pointer;
}

.logo {
  height: 110px;
  width: 200px;
}

.header-middle-box {
	left: 30px;
  display: flex;
  width: 400px;
  height: 100px;
  margin: 0 0 0 100px;
  align-items: center;
}

select {
     width:100px;
     height:40px;
     padding:5px;
     border:2px solid rgb(130, 130, 130);
     border-radius:3px;
     font-size: 13px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance : none;

}

.search-bar {
  height: 25px;
  width: 95%;
  font-size: 14px;
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom : 2px solid rgb(130,130,130);
  margin-left: 5px;
  margin-top: 10px;
}

.search-box {
  position: relative;
  width: 350px;
  height: 30px;
}

.search-container {
	display: flex;
}

.search-Btn{
	position: absolute;
	background: url(resources/header/search.png);
	background-repeat: no-repeat;
	background-size: 82%;
	width: 40px;
	height: 40px;
	border: 0;
	top: 2px;
	right: 0;
}

.header-right-box {
	display: flex;
	margin: 0 0 0 80px;
  width: 30%;
}	

.detail-box {
  display: none;
  position: absolute;
  width: 200px;
  left: -30px;
}

.detail-box2 {
  display: none;
  position: absolute;
  width: 200px;
  left: -27px;
}

.menu-bar li {
  position: relative;
}

.menu-bar .drop2 {
  position: relative;
}

.menu-bar li:hover .detail-box {
  display: block;
}

.menu-bar .drop2:hover .detail-box2 {
  display: block;
}

li {
  list-style: none;
}

.account-img {
  margin-left: 10px;
  height: 55px;
}

.detail-box:hover .drop-menu-1 {
  display: block;
}

.drop-menu-1 li {
	border-radius:3px;
  line-height: 30px;
  height: 30px;
  width: 110px;
}

.drop-menu-1 li:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}
.drop-menu-1 a {
  text-decoration: none;
  color: black;
}

.drop-menu-2 li {
	border-radius:3px;
  line-height: 30px;
  height: 30px;
  width: 80px;
}

.drop-menu-2 li:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}

.drop-menu-2 a {
	border-radius:3px;
  text-decoration: none;
  color: black;
}
.home-img {
  margin-left: 10px;
  padding-top: 7px;
  height: 40px;
}

.home-img:hover {
  color: white;
}

.cart-img {
  margin-left: 10px;
  height: 41px;
  padding-top: 7px;
}

.menu-img {
  margin-left: 10px;
  padding-top: 0px;
  height: 55px;
}

.menu-bar {
  display: flex;
}
