body {
  margin: 0;
  font-family:'nanumgothic';
}

#left-slide-container {
  position: fixed;
  background: white;
  height: 100%;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
}

#left-slide-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: black;
  line-height: 100px;
  height: 100px;
}

#left-slide-container h1 {
  margin: 0;
}

#left-slide-container a:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}
.close-btn-box {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
}
.slide-close-btn {
  height: 30px;
  width: 30px;
}

.slide-close-btn:hover {
  cursor: pointer;
}

.container {
  height: 200px;
}
.upper-header-white {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.header-left-box {
  display: flex;
}

.left-slide-btn {
  height: 40px;
  margin-top: 30px;
}
.left-slide-btn:hover {
  cursor: pointer;
}
.logo {
  height: 110px;
  width: 200px;
}

.header-middle-box {
  height: 100%;
  display: flex;
  width: 35%;
  margin-left: 100px;
}

select {
     width:100px;
     padding:5px;
     border:2px solid #999;
     font-family:'nanumgothic';
     border-radius:3px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance : none;

}
.search {
  /* position: relative; */
  width: 150;
}

.search-bar {

	height: 25px;
  width: 100%;
  font-size: 14px;
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom : 3px solid black;
  margin-left: 5px;
}

.search-box {
  width: 300px;
  height: 30px;
  position: relative;
}
.search-img {
  position: absolute;
  height: 100%;
  width: 17px;
  top: -2px;
  right: -8px;
  margin: 0;
}
.header-right-box {
  width: 30%;
  margin-left: 100px;
}

.detail-box {
  display: none;
  position: absolute;
  width: 200px;
  left: -30px;
}

.detail-box2 {
  display: none;
  position: absolute;
  width: 200px;
  left: -27px;
}

.menu-bar li {
  position: relative;
}

.menu-bar .drop2 {
  position: relative;
}
.menu-bar li:hover .detail-box {
  display: block;
}

.menu-bar .drop2:hover .detail-box2 {
  display: block;
}

li {
  list-style: none;
}

.account-img {
  margin-left: 10px;
  height: 55px;
}

.detail-box:hover .drop-menu-1 {
  display: block;
}
.drop-menu-1 li {
  line-height: 30px;
  height: 30px;
  width: 80px;
}
.drop-menu-1 li:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}
.drop-menu-1 a {
  text-decoration: none;
  color: black;
}
.drop-menu-2 li {
  line-height: 30px;
  height: 30px;
  width: 80px;
}
.drop-menu-2 li:hover {
  transition: 0.5s;
  background: rgb(116, 116, 116);
}
.drop-menu-2 a {
  text-decoration: none;
  color: black;
}
.home-img {
  margin-left: 10px;
  padding-top: 7px;
  height: 40px;
}
.home-img:hover {
  color: white;
}
.cart-img {
  margin-left: 10px;
  height: 41px;
  padding-top: 7px;
}
.menu-img {
  margin-left: 10px;
  padding-top: 0px;
  height: 55px;
}

.menu-bar {
  display: flex;
}
