@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@300&display=swap");

#wrap {
  font-family: "Gothic A1", sans-serif;
}

#header {
  height: 200px;
  width: 100%;
  background-color: red;
}

#main {
  height: 2000px;
  width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: aquamarine; */
}

#left {
  float: left;
  width: 300px;
  height: 100%;
  padding: 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* background-color: blue; */
}

#category {
  margin: 0;
  padding: 0;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  display: inline;
  position: absolute;
  list-style: none;
  font-family: "Gothic A1", sans-serif;
}

h2 {
  font-size: 20px;
}

#center {
  float: right;
  width: 900px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#insertPd {
  text-align: center;
}

.pdTable {
  width: 800px;
  height: auto;
  border: 1px solid rgb(189, 189, 189);
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  font-size: 15px;
  font-family: "Gothic A1", sans-serif;
}

.pdTable input {
  width: 100%;
  height: 18px;
  padding: 0;
  margin: 0 auto;
}

.pdTable h3 {
  margin-left: 15px;
}

.pdInput {
  text-align: center;
}

#pdInput2 {
  height: 72px;
}

.pdInputP {
  display: flex;
  justify-content: center;
}

#realInputP {
  
}

.fakeInputP {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: rgb(225, 225, 225);
  cursor: pointer;
  display: inline-block;
}
